<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookin">

        <!-- Splash Screen (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Bookin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Introduction Page 1 -->
        <activity
            android:name=".IntroductionActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />

        <!-- Introduction Page 2 -->
        <activity
            android:name=".Introduction2Activity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />

        <!-- Introduction Page 3 -->
        <activity
            android:name=".Introduction3Activity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />


        <!-- Login Page -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".PostAdActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".UploadAdPhotoActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".UploadAdDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".UploadAdFinalActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".UploadAdConfirmActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".AdsActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookin.NoActionBar" />

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>